.sc-order {
	padding-top: 92px;

	// Desktop S
	@media #{$breakpoint-md-only} {
		padding-top: 70px;
	}

	// Tablet P
	@media #{$breakpoint-sm-only} {
		padding-top: 54px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		padding-top: 56px;
	}

	// ##################################################

	.sc-wrapper {
		width: 100%;

		// Tablet L and up
		@media #{$breakpoint-md-up} {
			padding-left: 68px;
			width: auto;
		}
	}
}

// ##################################################

.order {
	&__top {
		margin-bottom: 32px;

		// Tablet L and up
		@media #{$breakpoint-md-up} {
			padding-left: 10px;
		}

		// Tablet P
		@media #{$breakpoint-sm-only} {
			padding-left: 11%;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 42px;
		}
	}

	// ##################################################

	&__content {
		display: flex;

		// Tablet L and up
		@media #{$breakpoint-md-up} {
			gap: 0 24px;
		}

		// Tablet P and dowm
		@media #{$breakpoint-sm-down} {
			flex-flow: column-reverse;
			align-items: center;
		}
	}

	// ##################################################

	&__left {
		padding-top: 42px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			padding-top: 24px;
			padding-left: 22px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			padding-top: 92px;
		}
	}

	&__right {
	}

	&__title {
		// Mobile
		@media #{$breakpoint-xs-only} {
			max-width: 488px;
			position: relative;
			left: -110px;
		}
	}

	// ##################################################

	&__gfx {
		top: 16px;
		left: 28px;
		position: relative;
		max-width: 584px;
		width: 100%;

		// Desktop S
		@media #{$breakpoint-md-only} {
			transform: rotate(-6deg);
			left: 5px;
		}

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			max-width: 380px;
			top: -5px;
			left: auto;
			transform: rotate(5deg);
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			width: auto;
			max-width: 382px;
			left: 4px;
		}
	}
}

// ##################################################

.card {
	color: var(--color-white);
	background: var(--flaviar-black-black-900);
	border-radius: 2px;
	padding: 10px;
	display: inline-flex;
	flex-flow: column;
	position: relative;
	overflow: hidden;

	// ##################################################

	&__content {
		border: 2px solid var(--flaviar-copper-copper-900);
		padding: 46px 38px 30px 34px;

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			padding-left: 17px;
			padding-right: 17px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			padding-left: 16px;
			padding-right: 16px;
		}

		&:before {
			@extend %content;
			background: url('../assets/images/order/05_card_pattern.svg') no-repeat scroll center / contain;
			height: auto;
			width: calc(100% - 40px);
			aspect-ratio: 1 / 1;
			left: 20px;
			top: 46px;
			transform-origin: center;
			transform: rotate(14.5deg);
		}
	}

	&__ribbon {
		pointer-events: none;
		position: absolute;
		top: -1px;
		right: -1px;
		width: 90px;
		z-index: 2;
	}

	// ##################################################

	&__title {
		color: var(--flaviar-grey-grey-300);
		font-size: 21px;
		font-weight: 700;
		line-height: 21px;
		text-transform: uppercase;
		margin-bottom: 22px;
		position: relative;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			left: -4px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			left: -2px;
		}
	}

	// ##################################################

	&__main {
		position: relative;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			left: -4px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			left: -2px;
		}
	}

	// ##################################################

	&__list {
		display: flex;
		flex-flow: column;
		gap: 20px 0;
		max-width: 300px;
		margin-bottom: 30px;
	}

	&__listitem {
		color: var(--flaviar-grey-grey-500);
		font-size: 18px;
		line-height: 1;
		position: relative;
		padding-left: 20px;

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			padding-left: 18px;
		}

		&:before {
			@extend %content;
			background: url() no-repeat scroll left center / contain;
			width: 15px;
			height: 15px;

			// Tablet L and up
			@media #{$breakpoint-md-up} {
				top: 0.1em;
			}

			// Mobile
			@media #{$breakpoint-xs-only} {
				top: 1px;
			}
		}

		&--green:before {
			background-image: url('../assets/images/order/05_icon_green.svg');
		}
		&--yellow:before {
			background-image: url('../assets/images/order/05_icon_yellow.svg');
		}
		&--red:before {
			background-image: url('../assets/images/order/05_icon_red.svg');
		}
		&--blue:before {
			background-image: url('../assets/images/order/05_icon_blue.svg');
		}
	}

	// ##################################################

	&__bottom {
		position: relative;
		padding-top: 26px;

		// Tablet P only
		@media #{$breakpoint-sm-only} {
			padding-top: 27px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			padding-top: 16px;
		}

		&:before {
			@extend %content;
			border-top: 1px dashed #af705e;
			top: 1px;

			// Tablet L and up
			@media #{$breakpoint-md-up} {
				left: -15px;
				width: calc(100% + 40px);
			}

			// Tablet P only
			@media #{$breakpoint-sm-only} {
				width: calc(100% + 6px);
			}
		}
	}

	// ##################################################

	&__price {
		color: var(--flaviar-grey-grey-300);
		font-size: 28px;
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 50px;
		height: 46px;
		position: relative;
		margin-bottom: 32px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			margin-bottom: 28px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			padding-top: 26px;
			margin-bottom: 40px;
		}

		&:after {
			@extend %content;
			background-color: var(--flaviar-copper-copper-900);
			left: 50%;
			width: 1px;

			// Tablet L and up
			@media #{$breakpoint-md-up} {
				margin-left: -2px;
				top: 1px;
			}

			// Tablet P only
			@media #{$breakpoint-sm-only} {
				top: 3px;
			}

			// Mobile
			@media #{$breakpoint-xs-only} {
				top: 14px;
				margin-left: -3px;
			}
		}

		// ##################################################

		&--new {
			font-weight: 700;
			position: relative;
			left: -5px;

			// Mobile
			@media #{$breakpoint-xs-only} {
				left: -7px;
			}
		}

		// ##################################################

		&--old {
			position: relative;

			// Tablet P only
			@media #{$breakpoint-sm-only} {
				left: 2px;
			}

			&::before {
				@extend %content;
				background: url('../assets/images/order/05_line_red.svg') no-repeat scroll center / 82px auto;
				top: -5px;
				left: -6px;
				width: 82px;
				height: 40px;

				// Tablet P only
				@media #{$breakpoint-sm-only} {
					top: -3px;
					left: -5px;
				}
			}
		}
	}

	// ##################################################

	&__button {
	}
}
