//*******************************************************************************
// 1.0 - GENERAL
//*******************************************************************************

html {
	scroll-behavior: smooth;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Text selection styling
::selection {
	color: var(--flaviar-black-black-900);
	background-color: var(--flaviar-grey-grey-300);
}

// Modal window - prevent scrolling
body {
	@extend %page_text;
	color: var(--color-white);
	background: var(--color-black) url('../assets/images/bg_elements/00_bck_desktop_static.webp') no-repeat top center /
		cover;
	background-attachment: fixed;
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: flex-start;
	font-family: Nitti;
	margin: 0 auto;
	min-width: 320px;

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		background-image: url('../assets/images/bg_elements/00_bck_mobile_static.webp');
	}
}

.site-main {
	width: 100%;
	flex: 1 0 auto;
	position: relative;
	padding-bottom: 235px;
	overflow: hidden;
}

// Prevents text selection styling
.noselect,
.noselect * {
	user-select: none;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

//*******************************************************************************
// 2.0 - GENERAL : Text styles
//*******************************************************************************

// Everything inside will inherit text style from parent
.text,
.title,
.title-main {
	* {
		@extend %inherit_textstyles;
	}

	strong {
		font-weight: 700;
	}
}

// Paragraphs
p {
	margin: 0;
}

// Links
a {
	color: inherit;
	text-decoration: none;
}

// Italic text
i,
em {
	font-style: italic;
}

// Headings
@for $i from 1 through 6 {
	/* stylelint-disable-next-line */
	h#{$i} {
		font-weight: inherit;
		font-size: inherit;
		margin: 0;
	}
}

//*******************************************************************************
// 3.0 - GENERAL : Images
//*******************************************************************************

// General image
img {
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	object-fit: cover;
}

// Figure (nested image for caption)
figure {
	img {
		margin: 0;
	}
}

// Figure caption (caption for nested image)
figcaption,
.wp-caption {
	color: var(--color-black);
	font-size: 12px;
	padding-top: 12px;
	line-height: 1.2;
}

//*******************************************************************************
// 4.0 - GENERAL : Section
//*******************************************************************************

.sc-general {
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
}

//*******************************************************************************
// 5.0 - GENERAL : Wcag
//*******************************************************************************

.sr-only {
	@extend %sr_only;
}

// General focus style
:focus {
	outline: none;
}

a,
button,
input,
textarea,
.btn {
	outline-offset: 6px;

	&:focus-visible {
		@extend %focus_style;
	}
}

// ##################################################
// BG elements
// ##################################################

.bg-elems {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 0;

	// ##################################################

	&--top {
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		// Desktop S
		@media #{$breakpoint-md-only} {
			width: 133%;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			width: 204%;
		}
	}

	// ##################################################

	&--bottom {
		bottom: -34px;
		left: 50%;
		transform: translate(-50%, 0);

		// Desktop S
		@media #{$breakpoint-md-only} {
			bottom: -94px;
			width: 135%;
		}

		// Tablet P and down
		@media #{$breakpoint-sm-down} {
			bottom: 234px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			display: none;
		}
	}
}

// ##################################################

.bg-mistletoe {
	position: absolute;
	height: auto;
	right: 14.5%;
	top: 976px;
	width: 254px;

	// Desktop S
	@media #{$breakpoint-md-only} {
		right: 2.6%;
	}

	// Tablet P only
	@media #{$breakpoint-sm-only} {
		right: -18.1%;
		top: 1253px;
		width: 254px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		top: 1316px;
		right: -152px;
	}
}

.bg-astronaut {
	position: absolute;
	height: auto;
	right: 23.2%;
	top: 1308px;
	width: 238px;

	will-change: transform, opacity;
	opacity: 0;

	// Desktop S
	@media #{$breakpoint-md-only} {
		right: 14.3%;
	}

	// Tablet P only
	@media #{$breakpoint-sm-only} {
		top: 2186px;
		z-index: 1;
		width: 340px;
		right: auto;
		left: 9.6%;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		top: 2222px;
		width: 340px;
		right: auto;
		left: -106px;
	}

	// ##################################################
	// Animated

	&.is-animated {
		animation: falling 5s 0s 1;
		opacity: 1;

		// Mobile
		@media #{$breakpoint-xs-only} {
			animation: falling-mobile 3s 0s 1;
		}
	}
}

.bg-redplanet {
	animation: moon-rotate 180s linear infinite;
	position: absolute;
	height: auto;
	left: -3%;
	top: 1140px;
	width: 521px;
	will-change: transform;

	// Desktop S
	@media #{$breakpoint-md-only} {
		left: -20.2%;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		display: none;
	}
}

.bg-moon {
	animation: moon-rotate 360s linear infinite;
	position: absolute;
	height: auto;
	right: 0;
	top: 1798px;
	width: 772px;
	max-width: 100%;
	will-change: transform;

	// Desktop S
	@media #{$breakpoint-md-only} {
		right: -16.4%;
	}

	// Tablet P only
	@media #{$breakpoint-sm-only} {
		top: 2272px;
		width: 212px;
		right: 17.2%;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		top: 2278px;
		width: 212px;
		right: -80px;
	}
}

.bg-nose {
	position: absolute;
	height: auto;
	left: 18.4%;
	top: 1863px;
	width: 79px;

	// Desktop S
	@media #{$breakpoint-md-only} {
		left: 8%;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		display: none;
	}
}

.bg-star {
	position: absolute;
	height: auto;
	right: 35.4%;
	width: 128px;
	top: 2248px;

	// Desktop S
	@media #{$breakpoint-md-only} {
		right: 32.1%;
		top: 2244px;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		display: none;
	}
}

.bg-square {
	position: absolute;
	height: auto;
	top: 2864px;
	left: 14.5%;
	width: 36px;

	// Desktop S
	@media #{$breakpoint-md-only} {
		left: 2.7%;
		top: 2841px;
	}

	// Tablet P and down
	@media #{$breakpoint-sm-down} {
		display: none;
	}
}

// ##################################################

.btn {
	border-radius: 2px;
	position: relative;
	height: 56px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;

	// ##################################################

	&:before,
	&:after {
		@extend %content;
		-webkit-filter: blur(4px);
		filter: blur(4px);
		z-index: 0;
		transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
	}

	&:before {
		@extend %content;
		background-color: var(--flaviar-green);
	}

	&:after {
		background-color: var(--flaviar-copper-copper);
		background: linear-gradient(to bottom, #d6a394 0%, var(--flaviar-copper-copper) 52%, #834a38 100%),
			linear-gradient(to bottom, var(--flaviar-copper-copper), var(--flaviar-copper-copper));
		opacity: 0;
	}

	// Hover effect
	&:hover,
	&:focus {
		&:before {
			background-color: var(--flaviar-copper-copper);
		}
		&:after {
			opacity: 1;
		}
	}

	// ##################################################

	span {
		color: var(--flaviar-black-black-900);
		position: relative;
		text-transform: uppercase;
		z-index: 1;
	}
}
