//*******************************************************************************
// 1.0 - WEBFONTS : Open Sans
//*******************************************************************************

@font-face {
	font-family: 'Nitti';
	src: url('../assets/fonts/Nitti-Bold.woff2') format('woff2'), url('../fonts/Nitti-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nitti';
	src: url('../assets/fonts/Nitti.woff2') format('woff2'), url('../fonts/Nitti.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
