:root {
	--color-black: #000;
	--color-white: #fff;
	--flaviar-black-black-900: #1c1c1c;
	--flaviar-grey-grey-300: #fffefd;
	--flaviar-copper-copper-500: #dbbdb5;
	--flaviar-grey-grey-700: #e1ddd6;
	--flaviar-green: #4fc061;
	--flaviar-copper-copper: #ae715e;
	--flaviar-copper-copper-900: #af705e;
	--flaviar-grey-grey-500: #f9f7f4;
	--flaviar-grey-grey-900: #bfb7ab;
}
