{% extends '../layouts/main.twig' %}


{% block main %}

  <!-- START OF: BG TOP -->
  <div class="bg-elems : bg-elems--top">
    <picture>
      <source media="(min-width: 769px)" srcset="./assets/images/bg_elements/01_bck_elements_desktop.webp" />
      <source media="(max-width: 769px)" srcset="./assets/images/bg_elements/01_bck_elements_mobile.webp" />
      <img src="./assets/images/bg_elements/01_bck_elements_mobile.webp" height="1896" width="3840" alt="Background graphics on top of the page" aria-hidden="true" role="presentation" />
    </picture>
  </div>
  <!-- END OF: BG TOP -->


  <img src="./assets/images/bg_elements/02_mistletoe.webp" alt="Mistletoe" class="bg-mistletoe" height="254" width="254" aria-hidden="true" role="presentation" />
  <img src="./assets/images/bg_elements/02_astronaut_photo.webp" alt="Astronaut" class="bg-astronaut" height="244" width="238" aria-hidden="true" role="presentation" />
  <img src="./assets/images/bg_elements/02_rust_planet_desktop.webp" alt="Rust planet" class="bg-redplanet" height="526" width="521" aria-hidden="true" role="presentation" />
  <img src="./assets/images/bg_elements/03_moon.webp" alt="Moon" class="bg-moon" height="762" width="762" aria-hidden="true" role="presentation" />
  <img src="./assets/images/bg_elements/03_nose_desktop.webp" alt="Nose" class="bg-nose" height="108" width="79" aria-hidden="true" role="presentation" />
  <img src="./assets/images/bg_elements/03_star.svg" alt="Star" class="bg-star" height="124" width="129" aria-hidden="true" role="presentation" />
  <img src="./assets/images/bg_elements/bg_square.svg" alt="Square" class="bg-square" height="36" width="36" aria-hidden="true" role="presentation" />


  <!-- START OF: BG BOTTOM -->
  <div class="bg-elems : bg-elems--bottom">
    <picture>
      <source media="(min-width: 769px)" srcset="./assets/images/bg_elements/05_bck_elements.webp" />
      <source media="(max-width: 769px)" srcset="./assets/images/bg_elements/05_bck_elements_mobile.webp" />
      <img src="./assets/images/bg_elements/05_bck_elements_mobile.webp" height="1922" width="3834" alt="Background graphics on bottom of the page" aria-hidden="true" role="presentation" />
    </picture>
  </div>
  <!-- END OF: BG BOTTOM -->


  {% include '../../components/intro/intro.twig' %}
  {% include '../../components/calendar/calendar.twig' %}
  {% include '../../components/slider/slider.twig' %}
  {% include '../../components/order/order.twig' %}

{% endblock %}


{% block page_title %}Explore the Whiskyverse{% endblock %}
{% block page_description %}Be a Santa in a bikini and preorder the delicious 24-vial Advent Calendar now to avoid the hostile gift-shopping crowds when Noel comes.{% endblock %}
{% block og_image %}./assets/images/intro/01_advent_box.webp{% endblock %}
{% block body_class %}landing-page{% endblock %}
