.sc-calendar {
	padding-top: 128px;

	// Tablet P
	@media #{$breakpoint-sm-only} {
		padding-top: 88px;
	}

	// Mobile
	@media #{$breakpoint-xs-only} {
		padding-top: 116px;
	}

	// ##################################################

	.sc-wrapper {
		position: relative;
		width: 100%;

		// Tablet L and up
		@media #{$breakpoint-md-up} {
			left: -162px;
			width: auto;
		}
	}

	// ##################################################

	.sc-content {
		// Tablet L and up
		@media #{$breakpoint-md-up} {
			padding-left: 146px;
		}

		// Tablet P
		@media #{$breakpoint-sm-only} {
			padding-left: 19%;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin: 0 auto;
			max-width: 304px;
		}
	}
}

// ##################################################

.calendar {
	// ##################################################

	&__title {
		margin-bottom: 48px;
		max-width: 626px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			margin-bottom: 52px;
		}

		// Mobile
		@media #{$breakpoint-xs-only} {
			margin-bottom: 34px;
			max-width: 468px;
			position: relative;
			left: -120px;
		}
	}

	&__text {
		color: #fff;
		font-size: 16px;
		line-height: 1.75;
		max-width: 400px;
		margin-bottom: 32px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			max-width: 414px;
		}
	}
}
