<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% endblock %}</title>
    <meta content="{% block page_description %}{% endblock %}" name="Description" />
    <meta content="Flaviar" name="application-name" />
    <meta content="Flaviar" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {# START OF: mobile tags for colorizing and styling status bar #}
    <meta content="#111111" name="theme-color" />
    <meta content="#111111" name="msapplication-navbutton-color" />
    <meta content="#111111" name="msapplication-TileColor" />
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
    <meta content="{% block page_title %}{% endblock %}" name="apple-mobile-web-app-capable" />

    {# START OF: social sharing tags #}
    <meta content="{% block og_image %}{% endblock %}" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="{% block page_title %}{% endblock %}" property="og:title" />
    <meta content="{% block page_title %}{% endblock %}" property="og:description" />
    <meta content="" property="og:image" />

	<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.flaviar.com/build/images/favicon/favicon.d0a8bcf7.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.flaviar.com/build/images/favicon/favicon-32x32.7855b99c.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.flaviar.com/build/images/favicon/favicon-16x16.d0ef64b5.png">
	<link rel="mask-icon" href="https://cdn.flaviar.com/build/images/favicon/safari-pinned-tab.de0d4070.svg" color="#020202">
	<link rel="shortcut icon" href="https://cdn.flaviar.com/build/images/favicon/favicon.d0a8bcf7.ico">
	<link rel="manifest" href="https://cdn.flaviar.com/misc/manifest.json">

    <link rel="stylesheet" type="text/css" href="css/app.css" media="screen" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include '../../../src/components/header/header.twig' %}

    <main class="site-main">{% block main %}{% endblock %}</main>

    <script src="js/main.js" defer></script>
    <script src="js/components.js" defer></script>
  </body>
</html>
