.sc-intro {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-top: 60px;

	// Tablet P
	@media #{$breakpoint-sm-only} {
		padding-top: 64px;
	}
}

// ##################################################
// Advent
// ##################################################

.advbox {
	// ##################################################

	&__title {
		position: relative;
		max-width: 683px;
		width: 100%;

		// Tablet L and up
		@media #{$breakpoint-md-up} {
			left: 4px;
			margin-bottom: 34px;
		}

		// Tablet P
		@media #{$breakpoint-sm-only} {
			margin-bottom: 4px;
		}
	}

	// ##################################################

	&__gfx {
		// animation: float 6s ease-in-out infinite;
		max-width: 670px;
		width: 100%;
		will-change: transform;
		position: relative;
		left: -34px;
		margin-bottom: -4px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			left: 0;
			max-width: 360px;
			margin-bottom: -2px;
		}
	}

	// ##################################################

	&__text {
		color: #4fc061;
		font-size: 18px;
		line-height: 1.5;
		text-align: center;
	}

	// ##################################################

	&__cta {
		height: 76px;
		position: relative;

		&--first {
			margin-top: 26px;
			margin-bottom: 46px;

			// Tablet P
			@media #{$breakpoint-sm-only} {
				margin-bottom: 96px;
			}
		}

		&--second {
			margin-top: 156px;

			// Tablet P
			@media #{$breakpoint-sm-only} {
				max-width: 90px;
			}
		}

		img {
			// animation: cta-arrow 2s ease-in-out infinite;
		}
	}

	// ##################################################

	&__icons {
		max-width: 400px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			max-width: 304px;
		}
	}

	// ##################################################

	&__text2 {
		color: #fff;
		font-size: 16px;
		line-height: 1.75;
		text-align: center;
		max-width: 596px;
		padding-top: 40px;
		margin-bottom: 40px;

		// Tablet P
		@media #{$breakpoint-sm-only} {
			max-width: 474px;
		}
	}
}
